body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

span {
  color: green;
}

/* ========================================== */
/*                   MENU                     */
/* ========================================== */
header {
  grid-area: header;
}
header .navbar {
  background-color: #b7c3ad;
}
header .navbar .container-fluid .navbar-brand .marca {
  color: #243a24;
}
header .navbar .container-fluid .collapse {
  flex-grow: 0;
}
header .navbar .container-fluid .collapse .navbar-nav .nav-item a {
  font-size: 1.125rem;
  font-weight: bold;
  color: #244d24;
}
header .navbar .container-fluid .collapse .navbar-nav .nav-item a:hover {
  color: white;
}

/* ========================================== */
/*                   CONTENIDO                */
/* ========================================== */

.alert{
  z-index: 100;
  grid-area: alert;
  position: sticky;   
  top: 0;
}

.hide, .remove{
  display: none;
  /* position: sticky; */
  /* top: 110; */
}


.contenedorCapacitaciones {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, auto);
  grid-template-areas:
    "header			       header   	         header"
    "zona1             zona1               zona1"
    "alert              alert               alert"
    "container         container           tabla"
    "footer	 		       footer 		         footer";
}

.contenedorCapacitaciones #intro {
  grid-area: zona1;
  margin: 0 auto;
  padding-top: 20px;
}
.contenedorCapacitaciones #intro .tituloIntro {
  text-align: center;
  font-size: 2rem;
}
.contenedorCapacitaciones #intro .textoIntro {
  text-align: center;
  font-size: 1.5rem;
  padding: 0.9375rem;
}


.container{
  grid-area: container;
}



.table{
  grid-area: tabla;
}



/*-- ========================================= --*/
/*--                   FOOTER                  --*/
/*-- ========================================= --*/
footer {
  grid-area: footer;
  background: #b7c3ad;
  min-height: 6.25rem;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}
footer .derechos {
  color: darkgreen;
  text-align: center;
  padding: 10px 10px 0;
}
footer #iconos a .bi {
  font-size: 1.625rem;
  padding: 0 8px;
  color: darkgreen;
}


